@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #0f0f0f;
}


.corpo{
    box-shadow: #1f1f1f;
}


/* MENU */

.navbar{
    left: 0;
    top: 0;
    position:sticky; /*Fixa no top*/
    position: -webkit-sticky; /*Fixa no top Safari*/
    background-color: #1f1f1f;
    width: 100%;
    z-index: 10000;
}

.menu{
    display: flex;
    flex-direction: row;
    max-width: 1024px;

}

.logo{
    width: 200px;
    margin-top: 10px;
    margin-left: 0;

}

.logo img{
    width: 60px;
    margin-left: 30px;
    padding-bottom: 10px;
    transition: all .4s ease-in-out;
    filter: drop-shadow(0 0 3px #66FCF1);
}

.logo img:hover{
    transform: scale(1.2, 1.2);
    transition: all .4s ease-in-out;
}

.text_menu{
    margin-right: 30px;
}

.text_menu ul{
    padding: 15px;
    list-style: none;
}

.text_menu ul li{
    display: inline;
}

.text_menu ul li a{
    margin-left: 60px;
    font-size: small;
    color: #66FCF1;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.text_menu ul li a:hover{
    transition: all .4s ease-in-out;
    text-shadow: 0 0 6px #66FCF1, 0 0 8px #66FCF1;

}

.bandeira{
    margin-top: 18px;
    padding: 0;
    margin-right: 30px;
    margin-left: 15px;
}

.bandeira a img{
    width: 25px;
}


/*------------ CORPO ------------*/


/*BANNER*/
.banner{
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border: solid;
    border-color: #66FCF1;
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.content_banner{
    display: flex;
    max-width: 1024px;
}

.part_esquerda{
    padding-left: 30px;
    padding-top:120px ;
    padding-right:30px ;
    height: 400px;
}

.jeanderson{
    font-weight: lighter;
    color: #f6f6f6;
}

.designer{
    font-weight: lighter;
    color: #66FCF1;
}

.bem_vindo{
    margin-top: 10px;
    font-weight: lighter;
    font-size:smaller;
    color: #f6f6f6;
}

.botao{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:transparent;
    border-color: #66FCF1;
    border-radius: 5px;
    border-style: solid;
    box-shadow: none;
    transition: all .4s ease-in-out;
}

.botao a {
    text-decoration: none;
    color: #66FCF1;
}

.botao:hover {
    transition: all .4s ease-in-out;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1; 


}

.part_direita{
    width: 512px;
}


/*SOBRE*/

.titulo {
    font-size: 2vh;
    font-weight: bold;
    color: #f6f6f6;
    padding-bottom: 50px;
    text-align: center;
}

.titulo ul{
    list-style-image: url(../images/marcador.svg);
    list-style-position: inside;
}


.sobre{
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1280px;

}

.sobre_content{
    padding: 50px;
    max-width: 1024px;
    background-color: #131313;
}

.sobre_texto{
    padding: 50px;
}

.sobre_baixo{
    display: flex;
}

.sobre_imagem{
    padding: 5px;
    width: 512px;
    display: flex;
    flex-direction: column;
}

.perfil{                     /*Foto*/
    margin-bottom: 10px;
    width: 300px;
    padding: 15px;
    border-style: solid;
    border-width: 3px;                 
    border-color: #66FCF1;
    border-radius: 50%;
    border-width: 1px;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1; 
}

.sobre_texto p{
    text-align: justify;
    font-size:medium;
    color: #f6f6f6;
    font-weight:lighter ;
}

.assinatura{
    text-align: center;
    margin-top: 25px;
}

.assinatura img{
    width: 200px;
    filter: 
        brightness(0) 
        saturate(100%) 
        invert(94%) 
        sepia(85%) 
        saturate(1634%) 
        hue-rotate(149deg) 
        brightness(103%) 
        contrast(97%)
        ;
}

.nome{
    font-size:large;
    margin-bottom: 8px;
    color: #66FCF1;
}



/*PORTFOLIO*/

.portfolio{
    max-width: 1280px;

}

.portfolio_content{
    background-color: #171717;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.parte_1{
    width: 1024px;
    padding: 30px;
    display: flex;
}

.parte_2{
    width: 1024px;
    padding: 20px;
    display: flex;
}

.iten{
    padding-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 18px -2px #0f0f0f;
    transition: all 0.4s ease-in-out;
    background-color: #1b1b1b;
    border-radius: 15px;
}

.iten a{
    text-align: center;
    margin: 20px;
}


.iten img{
    border-radius: 10px;
    width: 220px;
    height: 130px;
    
}

.iten:hover{
    padding: 5px;
    position: relative;
    transform: scale(1.1, 1.1);
    border-radius: 0;
    border: solid;
    border-color: #66FCF1;
    border-width: 1px;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1; 
    transition: all 0.4s ease-in-out;
}

.iten label{
    color: #f6f6f6;
}

/*SKILLS*/

.skills{
    max-width: 1280px;
    
}

.skills_content{
    background-color: #131313;
    padding-top: 50px;
    max-width: 1024px;
    height: 600px;
}


.skills_imagens{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.skills_imagens img{
    border-radius: 15px;
    background-color: #1b1b1b;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 10px;
    width: 100px;
    box-shadow: 0px 0px 18px -2px #0f0f0f;
    transition: all 0.4s ease-in-out;
    
}

.skills_imagens img:hover{
    position: relative;
    transform: scale(1.2, 1.2);
    border-radius: 0px;
    border: solid;
    border-color: #66FCF1;
    border-width: 1px;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1; 
    transition: all 0.4s ease-in-out;
}


/*FORMULÁRIO*/

.forms{
    max-width: 1280px;
}

.content_forms{
    background-color: #171717;
    max-width: 1024px;
    padding: 50px;
}

.formulario{
    width: 700px;
}

.formulario input{
    color:#66FCF1;
    background-color: #171717;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: none;
    outline: unset;
    width: 700px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    transition: all .2s ease-in-out;

}

.formulario input:hover{
    position: relative;
    transform: scale(1.1, 1.1);
    transition: all .2s ease-in-out;

}

.formulario input:focus{
    background-color: #171717;
    border-color: #66FCF1;
    border-width: 1px;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1; 

}

.formulario textarea{
    color:#66FCF1;
    background-color: #171717;
    margin-top: 10px;
    background-color: none;
    outline: unset;
    width: 700px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}


.formulario textarea:hover{
    position: relative;
    transform: scale(1.1, 1.1);
    transition: all .2s ease-in-out;

}

.formulario textarea:focus{
    background-color: #171717;
    border-color: #66FCF1;
    border-width: 1px;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1; 

}


.formulario label{
    color: #f6f6f6;
}

.form_final{
    display: flex;
}

.confirma{
    width: 600px;
}

.alternativas{
    align-items: left;
    display: flex;
}


.alt_images{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
}

.mail{
    padding: 5px;
    width: 30px;
}

.cel{
    padding: 5px;
    width: 25px;
}

.pointer{
    padding: 5px;
    width: 25px;
}


.alt_texto{
    margin-top: 5px;
    text-align: left;
}

.alt_texto p{
    text-align: left;
    margin-top: 14px;
    color: #f6f6f6;
    font-size:small;
    font-weight: lighter;
}

#submit{
    margin-top: 20px;
    margin-right: 10px;
    width: 100px;
}

#submit:hover{
    border-width: 1px;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1;
    cursor: pointer;
}


#reset{
    width: 100px;

}

#reset:hover{
    border-width: 1px;
    box-shadow:0 0 10px 0 #66FCF1 inset, 0 0 5px 1px #66FCF1;
    cursor: pointer;
}


.formulario select{
    color:#66FCF1;
    background-color: #171717;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: none;
    outline: unset;
    width: 700px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}



/*BOTOES FLUTUANTES*/

.botao_flutuante{
    position: fixed;
    bottom: 140px;
    left: 20px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 60px;
}
.botao_flutuante img{
    margin: 5px;
    width: 20px;
    transition: 0.2s ease-in-out;
}


.botao_flutuante img:hover{
    position: relative;
    transform: scale(1.2, 1.2);
    transition: all .2s ease-in-out;
    filter: drop-shadow(0 0 3px #66FCF1);
}

/*SETA PARA CIMA*/

.seta{
    position: fixed;
    bottom: 10px;
    right: 30px;
    display: flex;
    flex-direction: column;
    width: 60px;
}
.seta img{
    margin: 5px;
    transition: 0.2s ease-in-out;
}


.seta img:hover{
    position: relative;
    transform: scale(1.2, 1.2);
    transition: all .2s ease-in-out;
    filter: drop-shadow(0 0 3px #66FCF1);
}



/*FOOTER*/

.rodape{
    height: 100px;
    max-width: 1280px;
    background-color: #1f1f1f;
}

.footer{
    padding-top: 40px;
    height: 100px;
    max-width: 1024px;
}

.footer h5{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f6f6f6;
    margin-bottom: 5px;
    font-weight: lighter;
}
